<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>myYelpStudy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>ADFE44561EDA683500B1AA2C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ADFE446F1EDA683600B1AA2C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ADFE447A1EDA683600B1AA2C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
